#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}

body{
    background-image: linear-gradient(to right,rgb(195, 142, 245),rgb(86, 68, 241),rgb(88, 238, 213),rgb(43, 170, 55),rgb(242, 200, 106),rgb(233, 22,214));
}
